@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: normal;
    src: url("../public/fonts/AvenirLTStd-Book.otf") format("opentype"),
    url("../public/fonts/AvenirLTStd-BookOblique.otf") format("opentype");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: normal;
    src: url("../public/fonts/AvenirLTStd-Heavy.otf") format("opentype"),
    url("../public/fonts/AvenirLTStd-HeavyOblique.otf") format("opentype");
}
@font-face {
    font-family:"Proxima Nova";
    font-style: normal;
    font-weight: normal;
    src: url("../public/fonts/AvenirLTStd-Light.otf") format("opentype"),
    url("../public/fonts/AvenirLTStd-LightOblique.otf") format("opentype");
}
@font-face {
    font-family:"Proxima Nova";
    font-style: normal;
    font-weight: normal;
    src: url("../public/fonts/AvenirLTStd-Medium.otf") format("opentype"),
    url("../public/fonts/AvenirLTStd-MediumOblique.otf") format("opentype");
}

.f-normal {
    font-family:"Proxima Nova";
}
.f100 {
    font-family: "Proxima Nova";
}
.f500 {
    font-family: "Proxima Nova";
}