@font-face {
    font-family: "Avenir";
    font-style: normal;
    font-weight: normal;
    src: url("../public/fonts/AvenirLTStd-Book.otf") format("opentype"),
    url("../public/fonts/AvenirLTStd-BookOblique.otf") format("opentype"),
    url("../public/fonts/AvenirLTStd-Heavy.otf") format("opentype"),
    url("../public/fonts/AvenirLTStd-HeavyOblique.otf") format("opentype"),
    url("../public/fonts/AvenirLTStd-Light.otf") format("opentype"),
    url("../public/fonts/AvenirLTStd-LightOblique.otf") format("opentype"),
    url("../public/fonts/AvenirLTStd-Medium.otf") format("opentype"),
    url("../public/fonts/AvenirLTStd-MediumOblique.otf") format("opentype"),
    url("../public/fonts/AvenirLTStd-Oblique.otf") format("opentype"),
    url("../public/fonts/AvenirLTStd-Roman.otf") format("opentype");
}
@font-face {
    font-family: "AvenirLight";
    font-style: normal;
    font-weight: normal;
    src: url("../public/fonts/AvenirLTStd-Light.otf") format("opentype"),
    url("../public/fonts/AvenirLTStd-LightOblique.otf") format("opentype");
}
@font-face {
    font-family: "AvenirMeduim";
    font-style: normal;
    font-weight: normal;
    src: url("../public/fonts/AvenirLTStd-Medium.otf") format("opentype"),
    url("../public/fonts/AvenirLTStd-MediumOblique.otf") format("opentype");
}

.f100 {
    font-family: AvenirLight;
}
.f500 {
    font-family: AvenirMeduim;
}