.heading {
    padding-bottom: 5px;
    &--h3 {
        @extend .f500;
        font-size: 16px;
        line-height: 20px;
    }
    &--h6 {
        @extend .f100;
        font-size: 12px;
        line-height: 14px;
    }
}